@font-face {
    font-family:'big_bottom_cartoonregular';
    src: url('fonts/bigbottom/big_bottom_typeface_normal-webfont.eot');
    src: url('fonts/bigbottom/big_bottom_typeface_normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bigbottom/big_bottom_typeface_normal-webfont.woff2') format('woff2'),
         url('fonts/bigbottom/big_bottom_typeface_normal-webfont.woff') format('woff'),
         url('fonts/bigbottom/big_bottom_typeface_normal-webfont.ttf') format('truetype'),
         url('fonts/bigbottom/big_bottom_typeface_normal-webfont.svg#big_bottom_cartoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin:0;
	padding:0;
	background-color:#f2f2f2;
	color:#333;
	font-family:"Lucida Grande";
}

a {
	color:#333;
	text-decoration:underline;
}

h1 {
	font-size:40pt;
	font-family:"big_bottom_cartoonregular";
	margin:0;
	padding:0;
}

#content {
	margin:0 auto;
	width:900px;
	text-align:center;
}

#footer {
	font-size:10px;
	margin-top:20px;
}

#screensaver {
	font-family: "big_bottom_cartoonregular";
	font-size:20pt;
}


div.apps {
	color:white;
	background-color:#555;
	padding:10px;
	text-align:center;
	font-size:10px;
	padding-bottom:12px;
	line-height:18px;
}

div.apps a {
	color:white;
}